body{
    background: url("/assets/images/font.jpg");
    color: yellow;
}
TABLE {
    margin-top: 0%;/*150*/
    margin-left: 0%;/*-10*/

    width: 350px; /* Ширина таблицы 600 */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    text-align: center;


}
TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid white; /* Параметры рамки */
    text-align: center;
    color: yellow;
}

TH {

    text-align: center;
    font-weight:bold;
    font-size: 15px;
}
H1 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: "Comic Sans MS";
    font-style: italic;

}
.buttons{
    font-size: 15px;
    text-align: center;
    border-spacing: 5px;


}
a{
    color: blue;
}
.link{
    vertical-align:text-top;
    color: yellow;
}

H2{
    font-family: "Comic Sans MS";
    font-size: 70px;
    font-style: italic;

    color: white;
    text-align: center;

}

#nav {
    width: 32%;
    float: right;
    position: relative;
    left: -2%;
    text-align: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: black;
    border-bottom: 1px solid #ccc;
   }
#nav li {

    float: right;
}
#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;

}
#nav li a:hover {
    color: #c00;
    background-color: #fff; }



ul {
    display: block;
    float: right;
    margin-top: -8%;
    padding: 0;

    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid red;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}


table.wine {
    table-layout:fixed;
    width: 98%;
}
/*table.wine td {*/
    /*overflow:hidden;*/
/*}*/
/*table.wine1 td:nth-of-type(1) {*/
    /*width:200px;*/
/*}*/
table.wine td:nth-of-type(2) {
    width:200px;
}
/*table.wine1 th:nth-of-type(8) {*/
    /*width:45px;*/
/*}*/

table.wine1 {

    width: 100%;
}
table.wine2 {
    /*table-layout:fixed;*/
    width: 40%;
    margin-top: 0%;/*150*/
    margin-left: 0%;/*-10*/
}






body{
    background: #eccabf;
}
img {
    height: 320px;
    max-width: 100%;
}
.content{
    margin-top: 50px;
}
.product {
    background: #ffcdfa none repeat scroll 0 0;
    border: 2px solid #da0505;
    height: 500px;
    overflow: hidden;
    padding: 15px 10px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    /*margin-bottom: 10px;*/
}
.product:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.product-img {
    height: auto;
}
.product-title a {
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
.product-desc {
    max-height: 60px;
    overflow: hidden;
}
.product-price {
     bottom: 15px;
     left: -70px;


     position: absolute;
     width: 100%;
     color: #d51e08;
     font-size: 18px;
     font-weight: 500;
 }
.product-name {
    bottom: 60px;
    left: 0px;
    position: absolute;
    width: 100%;
    color: #171fd5;
    font-size: 20px;
    font-weight: 500;
}
.product-rating {
    bottom: 16px;
    left: 60px;
    position: absolute;
    width: 100%;
    color: #171fd5;
    font-size: 20px;
    font-weight: 500;
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

@media only screen and (min-width: 450px) {
    .col-md-8 products {
        width: 50%;
    }
}