body{
    background: url("/assets/images/font.jpg");
    color: blueviolet;
}
TABLE {
    margin-top: 0%;/*150*/
    margin-left: 0%;/*-10*/

    width: 350px; /* Ширина таблицы 600 */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    text-align: center;


}
TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid white; /* Параметры рамки */
    text-align: center;
    color: black;
}

TH {

    text-align: center;
    font-weight:bold;
    font-size: 15px;
}
H1 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: "Comic Sans MS";
    font-style: italic;

}
.buttons{
    font-size: 15px;
    text-align: center;
    border-spacing: 5px;


}
a{
    color: blue;
}
.link{
    vertical-align:text-top;
    color: yellow;
}

H2{
    font-family: "Comic Sans MS";
    font-size: 70px;
    font-style: italic;

    color: white;
    text-align: center;

}

#nav {
    width: 32%;
    float: right;
    position: relative;
    left: -2%;
    text-align: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: black;
    border-bottom: 1px solid #ccc;
   }
#nav li {

    float: right;
}
#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;

}
#nav li a:hover {
    color: #c00;
    background-color: #fff; }



ul {
    display: block;
    float: right;
    margin-top: -8%;
    padding: 0;

    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid red;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}


table.wine {
    /*table-layout:fixed;*/
    width: 100%;
}
/*table.wine td {*/
    /*overflow:hidden;*/
/*}*/
/*table.wine1 td:nth-of-type(1) {*/
    /*width:200px;*/
/*}*/
/*table.wine td:nth-of-type(2) {*/
    /*width:200px;*/
/*}*/
/*table.wine1 th:nth-of-type(8) {*/
    /*width:45px;*/
/*}*/

table.wine1 {

    width: 100%;
}
table.wine2 {
    /*table-layout:fixed;*/
    width: 40%;
    margin-top: 0%;/*150*/
    margin-left: 0%;/*-10*/
}







img {
    height: 320px;
    max-width: 100%;
}
.content{
    margin-top: 50px;
}
.product {
    background: #feffff none repeat scroll 0 0;
    border: 2px solid #da0505;
    height: 500px;
    overflow: hidden;
    padding: 15px 10px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    /*margin-bottom: 10px;*/
}
.product:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.product-img {
    height: 1000px;
    bottom: 15px;

    float: left;
    margin: 50px 50px 50px 100px



}
.product-title a {
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
.product-desc {
    max-height: 60px;
    overflow: hidden;
}
.product-price {
      bottom: 15px;
      left: -70px;


      position: absolute;
      width: 100%;
      color: #d51e08;
      font-size: 18px;
      font-weight: 500;
  }

.product-price1 {
    bottom: 50px;
    left: -307px;


    position: absolute;
    width: 100%;
    color: #171fd5;
    font-size: 18px;
    font-weight: 500;
}
.product-name {
    bottom: 60px;
    left: 0px;
    position: absolute;
    width: 100%;
    color: #171fd5;
    font-size: 20px;
    font-weight: 500;
}
.product-rating {
    bottom: 16px;
    left: 60px;
    position: absolute;
    width: 100%;
    color: #171fd5;
    font-size: 20px;
    font-weight: 500;
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}
/*звёзды уже выбранные */
.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}



.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}




.rating:not(:checked) >  input:not(.veryGrey) ~ label:hover,
.rating:not(:checked)  > input:disabled~ label:hover ~ label,
.rating:not(:checked) > label:hover ~  input:disabled ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}



/*.rating > label:active {*/
    /*position:relative;*/
    /*top:2px;*/
    /*left:2px;*/
/*}*/

@media only screen and (min-width: 600px) {
    .row {
        width: 100%;
    }
}



.wineName{
    font-family: "Comic Sans MS";
    font-size: 30px;
    font-style: italic;

    color: red;
    /*text-align: center;*/

}
.btn btn-default btn-sm{
    margin: 50px 50px 50px 0px
}
.average{
    bottom: 15px;
    left: -70px;

    color: blue;
    font-size: 18px;
    font-weight: 500;

}


/*#main {*/
    /*background-color: #fff;*/
    /*padding:20px 0;*/
/*}*/
/*#content {*/
    /*overflow: hidden;*/
/*}*/
#content #left, #content #right {
   /* border: 1px solid #E9E9E9;*/
    float: left;
    margin: 0 2%;
    width: 63%;
}
#content #right {
    margin-left: 0;
    width: 30%;
}
/*#content h3 {*/
    /*background: -moz-linear-gradient(#ffffff, #F6F6F6); !* Для браузера Firefox от версии 3.6 *!*/
    /*background: -ms-linear-gradient(#ffffff, #F6F6F6); !* Для браузера Internet Explorer версии 10 *!*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #F6F6F6));*/
    /*!* Для браузеров Safari от версии 4 и Chrome от версии 2 *!*/
    /*background: -webkit-linear-gradient(#ffffff, #F6F6F6); /*/
    /*!* Для браузеров Safari от версии 5.1 и Chrome от версии 10 *!*/
/*background: -o-linear-gradient(#ffffff, #F6F6F6); !* Для браузера Opera версии 11.10 *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F6F6F6');*/
    /*!* Для браузеров Internet Explorer версий 6 и 7 *!*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F6F6F6')";*/
    /*!* Для браузера Internet Explorer версии 8 *!*/
    /*background: linear-gradient(#ffffff, #F6F6F6); !* стандартное свойство *!*/
    /*border-bottom: 1px solid #E0E0E0;*/
    /*color: #3C3C3C;*/
    /*font-size: 12px;*/
    /*font-weight: bold;*/
    /*line-height: 15px;*/
    /*padding: 11px 0 12px 20px;*/
    /*text-transform: uppercase;*/
/*}*/
/*#content ul {*/
    /*list-style:none outside none;*/
    /*margin:0;*/
    /*padding:0;*/
/*}*/
/*оформляет как раз столбцы*/
#content #left ul li {
    float:left;
    padding-bottom: 21px;
    width: 33%;
}
/*#content #left ul li:hover {*/
    /*background-color: #fbfbfb;*/
/*}*/
/*#content #right ul li {*/
    /*border-top: 1px solid #E7E7E7;*/
    /*overflow: hidden;*/
/*}*/
/*#content #right ul li:hover {*/
    /*background-color: #fbfbfb;*/
/*}*/
/*#content #right ul li:first-child {*/
    /*border-width: none;*/
/*}*/
/*#content #left ul li .img {*/
    /*text-align: center;*/
/*}*/
/*#content #right ul li .img {*/
    /*background-color: #FFFFFF;*/
    /*float: left;*/
    /*height: 94px;*/
    /*text-align: center;*/
    /*width: 113px;*/
/*}*/

/*нужно для фиксирования картинок*/
#content #left ul li .img img {
    height:128px;
    width:128px;
}
/*#content #right ul li .img img {*/
    /*height:70px;*/
    /*margin-top: 11px;*/
    /*width:70px;*/
/*}*/
#content #left ul li .info {
    padding: 17px 20px 0 19px;
}
/*#content #right ul li .info {*/
    /*float: left;*/
    /*overflow: hidden;*/
    /*padding: 17px 0 0 21px;*/
    /*width: 164px;*/
/*}*/
/*#content ul li .info .title {*/
    /*color: #4B4B4B;*/
    /*display: inline-block;*/
    /*font-size: 11px;*/
    /*font-weight: bold;*/
    /*line-height: 16px;*/
    /*text-decoration: none;*/
    /*text-transform: uppercase;*/
    /*width: 150px;*/
/*}*/
/*#content ul li .info .title:hover {*/
    /*color: #049733;*/
/*}*/
/*#content #left ul li .info p {*/
    /*color: #7F7F7F;*/
    /*font-size: 11px;*/
    /*line-height: 16px;*/
    /*padding-top: 3px;*/
/*}*/
/*#content #left ul li .info .price {*/
    /*background: none repeat scroll 0 0 #F7F7F7;*/
    /*color: #383838;*/
    /*font-size: 12px;*/
    /*font-weight: bold;*/
    /*line-height: 16px;*/
    /*margin: 17px 0 10px;*/
    /*padding: 6px 0 6px 8px;*/
/*}*/
/*#content #right ul li .info .price {*/
    /*color: #383838;*/
    /*font-size: 12px;*/
    /*font-weight: bold;*/
    /*line-height: 16px;*/
    /*padding-top: 25px;*/
/*}*/
/*#content #left ul li .info .price .st {*/
    /*color: #7F7F7F;*/
    /*font-size: 11px;*/
    /*line-height: 16px;*/
    /*margin-right: 3px;*/
/*}*/
/*#content #right ul li .info .price .usual, #content #right ul li .info .price .special {*/
    /*color: #7F7F7F;*/
    /*font-size: 12px;*/
    /*font-weight: normal;*/
    /*line-height: 16px;*/
    /*padding-right: 6px;*/
    /*text-decoration: line-through;*/
/*}*/
/*#content #right ul li .info .price .special {*/
    /*color: #FD7A01;*/
    /*font-weight: bold;*/
    /*text-decoration: none;*/
/*}*/
/*#content #left ul li .info .actions {*/
    /*overflow:hidden;*/
/*}*/
/*#content #left ul li .info .actions a {*/
    /*border: 1px solid #E0E0E0;*/
    /*color: #fd7a01;*/
    /*display: block;*/
    /*float:right;*/
    /*font-size: 11px;*/
    /*font-weight: bold;*/
    /*line-height: 16px;*/
    /*padding: 5px;*/
    /*text-decoration: none;*/
/*}*/
#content #left ul li .info .actions a:first-child {
    color: #009832;
    float:left;
}















