body{
    background: url("/assets/images/font.jpg");
    color: blueviolet;

}
TABLE {
    width: 350px; /* Ширина таблицы 600 */
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    text-align: center;
    vertical-align: top; /* Выравнивание по верхнему краю */
}
TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    text-align: center;
    color: white;
    vertical-align: top;
}

.user{
    background: black;
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    text-align: center;
    vertical-align: top; /* Выравнивание по верхнему краю */
    border: 1px solid white;
}

TH {

    text-align: center;
    font-weight:bold;
    font-size: 15px;
}
H1 {
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: "Comic Sans MS";
}
.buttons{
    font-size: 15px;
    text-align: center;
    border-spacing: 5px;
}
a{
    color: blue;
}
.link{
    vertical-align:text-top;
    color: yellow;
}

H2{
    font-family: "Comic Sans MS";
    font-size: 70px;
    color: white;
    text-align: center;
}

#nav {
    width:80%;
    margin-bottom: 70px;
    border-bottom: 1px solid #ccc;
}
#nav li {
    float: right;
}
#nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: white;

}
#nav li a:hover {
    color: #c00;
    background-color: #fff; }

.contact-style{
    color:white;
    font-family: "Comic Sans MS";
}

ul {
    display: block;
    float: right;
    margin-top: -8%;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid red;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

table.wine1 {
    width: 100%;
}
table.wine1 td {
    overflow:hidden;
}
table.wine1 td:nth-of-type(1) {
    width:700px;
}
table.wine1 td:nth-of-type(2) {
    table-layout:fixed;
    width:250px;
}
table.favorite{
    /*border: 10px solid white;*/
    width: 100%;
    align-items: center;
}

table.favorite td:nth-of-type(1) {
    width:1000px;
}

table.sales{
    width: 70%;
    align-items: center;
}

table.sales td:nth-of-type(1) {
    width:400px;
}

img {
    height: 300px;
    max-width: 100%;
}

.product-img.img{
    max-width: 100%;

}
.content{
    margin-top: 50px;
}
.product-text{
    font-family: "Comic Sans MS";
    padding-left: 240px;
    padding-top: 8px;
    text-align: left;
    color: black;
    text-decoration: underline;
}
.product-buttons{
    padding-left: 240px;

    text-align: left;
}

.product-buttons-basket{
    padding-left: 200px;

    text-align: left;
}
.g1{
    font-size: 40px;
    color: white;
    margin-top: 50px;
}


.product {
    background: #feffff none repeat scroll 0 0;
    border: 2px solid #da0505;
    height: 500px;
    width: 480px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease 0s;
}
.product-sale {
    background: #feffff none repeat scroll 0 0;
    border: 2px solid #da0505;
    color: black;
    height: 450px;
    width: 300px;
    margin-right: 50px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease 0s;
}
.product-sale-user {
    background: #feffff none repeat scroll 0 0;
    border: 2px solid #da0505;
    color: black;
    height: 300px;
    width: 300px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease 0s;
}

.product:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.product-img {
    height: 0px;

    bottom: 15px;
    float: left;
    margin: 75px -100px -100px 0px;

}
.product-title a {
    color: #000;
    float:right;
    font-weight: 500;
    text-transform: uppercase;
}
.product-desc {
    max-height: 60px;
    overflow: hidden;
}
.product-price {
    float:right;
    bottom: 15px;
    left: 0px;
    padding-left: 130px ;

    position: absolute;
    width: 100%;
    color: #060100;
    font-size: 25px;
    font-weight: 900;
}

.product-price1 {
    bottom: 50px;
    left: -150px;
    position: absolute;
    width: 100%;
    color: #171fd5;
    font-size: 18px;
    font-weight: 500;
}
.product-name {
    bottom: 60px;
    left: 0px;
    position: absolute;
    width: 100%;
    color: #171fd5;
    font-size: 20px;
    font-weight: 500;
}
.product-rating {
    bottom: 16px;
    left: 5px;
    position: absolute;
    width: 100%;
    color: #171fd5;
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (min-width: 600px) {
    .row {
        width: 100%;
    }
}

.wineName{
    font-family: "Comic Sans MS";
    font-size: 30px;
    font-style: italic;
    color: #ae322a;

}
.btn btn-default btn-sm{
    margin: 50px 50px 50px 0px;
    width: 50px;
    height: 10px;

}
.average{
    bottom: 15px;
    left: -70px;

    color: blue;
    font-size: 18px;
    font-weight: 500;

}
#main{
    margin-top:-30px;
}

/*оформляет как раз столбцы*/
#content #left ul li {
    float: left;
    margin-right:0px;
    margin-left:13px;
    padding-bottom: 2px;
    width: 48%;
}

/*оформляет как раз столбцы*/
#content  #left #sale ul li {
    float: left;
    padding-bottom: 10px;
    padding-left: 100px;
    margin-right: 30px;
    width: 33%;
}
#content  #sale-user ul li {
    float: left;
    padding-bottom: 10px;
    padding-left: 100px;
    margin-right: 30px;
    width: 33%;
}

/*нужно для фиксирования картинок*/
#content #left ul li .img img {
    height:128px;
    width:128px;
}

.container-buttons {
    display: flex;
    justify-content: space-around;
}

input[type="text"]{
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    color: black;
    width:200px;
    height: 40px;
    text-align: center;
}
input[type="number"]{
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    width:100px;

    color: black;
    text-align: center;
}

.layer1 {
    background-color: #c22c25; /* Цвет фона слоя */
    padding: 5px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 177px; /* Ширина слоя */
    text-align: center;
    margin-bottom: 5px;
}
.layer2 {
    background-color: #c22c25; /* Цвет фона слоя */
    padding: 5px; /* Поля вокруг текста */
    width: 177px; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
    text-align: center;
    margin-bottom: 5px;
}
.layer1-admin {
    padding: 5px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 50px; /* Ширина слоя */
    text-align: center;
    margin-bottom: 5px;
    margin-left: 240px;
}
.layer2-admin {
    padding: 5px; /* Поля вокруг текста */
    width: 50px; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
    text-align: center;
    margin-bottom: 5px;
    margin-left: 0px;
}
.layer1-button {
    padding: 1px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 50px; /* Ширина слоя */
    text-align: center;
    margin-bottom: 1px;
    margin-left: 125px;
}
.layer2-button {
    padding: 1px; /* Поля вокруг текста */
    width: 50px; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
    text-align: center;
    margin-bottom: 1px;
    margin-left: 0px;
}
.clear {
    clear: left; /* Отмена обтекания */
}
input[type="checkbox"] {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    border-radius: 10px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
}

.button_menu{
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    color: white;
    cursor: pointer;
}
.button_menu:hover{
    color: #c00;
    background-color: #fff;
}

#content #favorite ul li {
    float: left;
    margin-right:0px;
    margin-left:-100px;
    text-align: center;
    padding-bottom: 5px;
    padding-left: 300px;
    width: 45%;
}
/*нужно для фиксирования картинок*/
#content #favorite ul li .img img {
    height:128px;
    width:128px;
}
.start{
    margin-top: 100px;
    margin-left: 40%;
    width: 600px;
    background-color: black;
}
