
body{
    background: url("/assets/images/font.jpg");
    color: white;
}
H2{
    font-family: "Comic Sans MS";
    font-size: 70px;

    color: white;
    text-align: center;

}
H1 {
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: "Comic Sans MS";


}

/*#nav {*/
    /*width: 32%;*/
    /*float: right;*/
    /*position: relative;*/
    /*left: -2%;*/
    /*text-align: left;*/
    /*margin: 0 0 3em 0;*/
    /*padding: 0;*/
    /*list-style: none;*/
    /*background-color: black;*/
    /*border-bottom: 1px solid #ccc;*/
     /*}*/

/*#nav li {*/

    /*float: right;*/


/*}*/
/*#nav li a {*/
    /*display: block;*/
    /*padding: 8px 15px;*/
    /*text-decoration: none;*/
    /*font-weight: bold;*/
    /*color: white;*/
    /*}*/
/*#nav li a:hover {*/
    /*color: #c00;*/
    /*background-color: #fff; }*/
/*.start{*/
    /*margin-top: 100px;*/
    /*margin-left: 40%;*/
    /*width: 600px;*/
    /*background-color: black;*/
/*}*/
/*TH {*/
    /*background: black; !* Цвет фона *!*/
    /*text-align: left;*/
    /*font-weight:bold;*/
    /*font-size:20px;*/

/*}*/


/*ul {*/
    /*display: block;*/
    /*float: right;*/
    /*margin-top: -8%;*/
    /*padding: 0;*/

    /*list-style: none;*/
/*}*/
/*ul:after {*/
    /*display: block;*/
    /*content: ' ';*/
    /*clear: both;*/
    /*float: none;*/
/*}*/
/*ul.menu > li {*/
    /*float: left;*/
    /*position: relative;*/
/*}*/
/*ul.menu > li > a {*/
    /*display: block;*/
    /*padding: 10px;*/
    /*color: white;*/
    /*background-color: red;*/
    /*text-decoration: none;*/
/*}*/
/*ul.menu > li > a:hover {*/
    /*background-color: black;*/
/*}*/
/*ul.submenu {*/
    /*display: none;*/
    /*position: absolute;*/
    /*width: 120px;*/
    /*top: 37px;*/
    /*left: 0;*/
    /*background-color: white;*/
    /*border: 1px solid red;*/
/*}*/
/*ul.submenu > li {*/
    /*display: block;*/
/*}*/
/*ul.submenu > li > a {*/
    /*display: block;*/
    /*padding: 10px;*/
    /*color: white;*/
    /*background-color: red;*/
    /*text-decoration: none;*/
/*}*/
/*ul.submenu > li > a:hover {*/
    /*text-decoration: underline;*/
/*}*/

/*ul.menu > li:hover > ul.submenu {*/
    /*display: block;*/
/*}*/
/*button{*/
    /*color: #e42423;*/
/*}*/




/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    /* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay:target {
    display: block;
}
/* стили модального окна */
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #cc0000;
    /* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    /* внешняя тень */
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* формируем кнопку закрытия */
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
/* изображения внутри окна */
.popup img {
    width: 100%;
    height: auto;
}
/* миниатюры слева/справа */
.pic-left,
.pic-right {
    width: 25%;
    height: auto;
}
.pic-left {
    float: left;
    margin: 5px 15px 5px 0;
}
.pic-right {
    float: right;
    margin: 5px 0 5px 15px;
}
/* элементы м-медиа, фреймы */
.popup embed,
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display:block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}
.popup h2 { /* заголовок 2 */
    margin: 0;
    color: #008000;
    padding: 5px 0px 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}
/* параграфы */
.popup p {margin: 0; padding: 5px 0}



#slick-login label {
    display: none;
}


#slick-login input[type="text"],#slick-login input[type="number"],#slick-login input[type="password"] {
    width: 100%;
    height: 40px;
    positon: relative;
    text-align: center;

    margin-top: 7px;
    font-size: 14px;
    color: #444;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);

    padding-left: 20px;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;

    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);

    -webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
    box-shadow: inset 0px 2px 0px #d9d9d9;

    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}



#slick-login input:first-child {
    margin-top: 0px;
}
/*Вид кнопки*/
#slick-login input[type="submit"] {
    width: 100%;
    height: 50px;
    margin-top: 7px;
    color: #feffff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px -1px 0px #5b6ddc;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;

    background-color: #5466da;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.97) 0%, #e4473d 100%);
    background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -o-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -ms-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: linear-gradient(bottom, #5466da 0%, #768ee4 100%);

    -webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
    box-shadow: inset 0px 1px 0px #000000;

    cursor: pointer;

    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}



/*h1 {*/
    /*color: white;*/
    /*font-size: 20px;*/
    /*text-align: center;*/

/*}*/






#bg_popup{
    position: fixed;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;}

#popup {
    background:#fff;
    width: 350px;
    margin: 25% auto;
    padding: 5px 20px;
    position: relative;}

.close{
    display:block;
    position:absolute;
    top:5px;
    right:5px;
    width:20px;
    height:20px;
    color:#555;
    background:#1BA600;
    cursor:pointer;}



 button {
    width: 50%;
    height: 50px;
    margin-top: 7px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px -1px 0px #5b6ddc;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;

    background-color: #5466da;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.97) 0%, #e4473d 100%);
    background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -o-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -ms-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: linear-gradient(bottom, #5466da 0%, #768ee4 100%);

    -webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
    box-shadow: inset 0px 1px 0px #000000;

    cursor: pointer;

    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}





