@()
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/startPage.css")">

    </head>
    <body>

        <div align="center">
            <h2>Barton & Guestier</h2>

            <p></p>

            <ul id="nav">
                <li><a href="@routes.mainPageController.contactPage()">Контакты </a ></li>

                <li><a href="@routes.mainPageController.providerPage()">Поставщики </a></li>
                <li><a href="@routes.mainPageController.catalogPage()">Каталог </a></li>
                <li><a href="@routes.mainPageController.projectPage()">О проекте </a></li>

            </ul>
            <table>
                <tr>
                    <th>Страница находится в разработке</th>
                </tr>
                <tr>
                    <th>Но писать можно сюда - DonMins@@yandex.ru</th>
                </tr>
            </table>
    </body>
</html>