@(form: play.data.Form[wine], login:String)
<html>
    <head>
        <title>
            Добавление нового товара
        </title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
    </head>
    <body>
        <li><a>@helper.form(action = routes.WineController.catalogPage) {
            <input type="submit" value="Каталог">
            }</a>
        </li>        <h1 class="g1">Регистрация товара</h1>


        @helper.form(action = routes.WineController.addingWine(), 'id -> "slick-login"){
            @helper.inputText(form("name"),'_showConstraints ->false,'placeholder -> "Название вина")
            @helper.inputText(form("colour"),'_showConstraints ->false,'placeholder -> "Цвет")
            @helper.inputText(form("country"),'_showConstraints ->false,'placeholder -> "Страна")
            @helper.inputText(form("brand"),'_showConstraints ->false,'placeholder -> "Бренд")
            @helper.inputText(form("shelfLife"),'_showConstraints ->false,'placeholder -> "Срок годности")
            @helper.inputText(form("sugar"),'_showConstraints ->false,'placeholder -> "Сахар")
            @helper.inputText(form("grapeSort"),'_showConstraints ->false,'placeholder -> "Сорт винограда")
            @helper.inputText(form("price"),'_showConstraints ->false,'placeholder -> "Цена")
            @helper.inputText(form("value"),'_showConstraints ->false,'placeholder -> "Объем")
            @helper.inputText(form("degree"),'_showConstraints ->false,'placeholder -> "Крепость")

            <input type ="submit" value="Создать">
            }
    </body>
</html>