@(form: play.data.Form[provider], login:String)
<html>
    <head>
        <title>
            Добавление нового поставщика
        </title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
    </head>
    <body>
        <a href="@routes.ProviderController.providerPage(login,true)" class = "link">На главную страницу </a>
        <h1 class="g1">Регистрация поставщика</h1>

        @helper.form(action = routes.ProviderController.addingProvider(login), 'id -> "slick-login"){
            @helper.inputText(form("name"),'_showConstraints ->false,'placeholder -> "Название")
            @helper.inputText(form("phone"),'_showConstraints ->false,'placeholder -> "Телефон")
            @helper.inputText(form("address"),'_showConstraints ->false,'placeholder -> "Адрес")


            <input type ="submit" value="Создать">
            }
    </body>
</html>