@(form: play.data.Form[User],admin:Boolean)
<html>
    <head>
        <title>
            Добавление нового пользователя
        </title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
    </head>
    <body>
        <a href="@routes.mainPageController.projectPage("",admin)" class = "link">На главную страницу </a>
        <h1 class="g1">Регистрация</h1>

        @helper.form(action = routes.UsersController.addingUser(admin), 'id -> "slick-login"){
            @helper.inputText(form("login"),'_showConstraints ->false,'placeholder -> "Логин")
            @helper.inputText(form("password"),'_showConstraints ->false,'placeholder -> "Ваш сложный пароль")
            @if(admin){
                Права администратора:@helper.checkbox(form("isAdmin"))
            }

            <input type ="submit" value="Создать">
            }
    </body>
</html>