@(list:Seq[String],list2:Seq[wine],login:String,isAdmin:Boolean,bookForm : play.data.Form[LoginForm],registrationForm : play.data.Form[User],error:Integer,wineForm:play.data.Form[wine])
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/logo.jpg")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/fontXml.css")">
    </head>
    <body>
        @if(!(login.isEmpty)){
            <div align="right">

                Вы вошли как :@login

                <br>
            </div>
        }
    @main("Каталог вина"){
        @catalogPage(list,list2,login,isAdmin,bookForm,registrationForm,error,wineForm)
    }

    </body>
</html>