@(items:Seq[String],items2:Seq[String])
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/fontXml.css")">
    </head>
    <body>
            @*вывод колонки*@
        @colomn(i:Int)=@{
        val it = items
        it(i)
    }
            @*вывод строки*@
        @display(i:Int)=@{
            val it = items2
            it(i)
        }
            @*всего колонок*@
        @sizeItems()=@{
            val sizeItems = items.length
            sizeItems
        }
            @*количество страниц*@
        @pages=@{

                sizeItems2()/(sizeItems())

        }
            @*всего записываемых элементов*@
        @sizeItems2()=@{
            val sizeItems2 = items2.length
            sizeItems2

        }

            @*печатает название таблиц*@
        @printCode(i:Int)=@{
            val cod = "wine"
            cod(i)
        }

        <table>

            <tr>
                @*вывод в таблицу столбцов*@
            @for(j <- 1 to sizeItems) {
                <th>@colomn(j-1)</th>
           }
            </tr>
            @for(i<-1 to sizeItems2) {

                <td>@display(i - 1)</td>
                @if(i%(sizeItems())==0){
                    <td> <img src="@routes.Assets.versioned("images/102_preview.jpg")"  width="100" height="100" alt="hello"></td>
                    <tr></tr>
                }
            }



        </table>
        <br>
        <p></p>
    </body>

</html>



