@()
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/startPage.css")">

    </head>
    <body>

        <div align="center">
       <h2>Barton & Guestier</h2>

            <p></p>

        <ul id="nav">
            <li> <a href="@routes.mainPageController.projectPage()">Личный кабинет </a></li>
            <li><a href="@routes.mainPageController.contactPage()">Контакты </a ></li>
            <li><a href="@routes.mainPageController.providerPage()">Поставщики </a></li>
            <li><a href="@routes.mainPageController.catalogPage()">Каталог </a></li>
            <li><a href="@routes.mainPageController.projectPage()">О проекте </a></li>

        </ul>



            <table>
                <tr>
                    <th>Дорогие Гости, добро пожаловать на сайт Винного Дома Barton & Guestier!</th>
                </tr>
            </table>
            <table cellpadding="5px">

                <tr>
                    <th>      Умение разбираться в винах - это уже давно не роскошь,
                        а скорее необходимость, ведь, как говорил Гете –
                        «Жизнь слишком коротка, чтобы пить плохое вино».
                        Где можно приобрести, а главное научиться распознавать достойный напиток?
                        Есть такое место...
                        Таня сделает красивое оформление текста, лесенка
                    к примеру, потом надо сделать чтобы при нажатии на личный кабинет выпадал список
                    вход или регистрации, и при нажатии на соотвествующую кнопку выходила
                    всплывающая форма  входа или регистрации</th>

                </tr>
            </table>

    </body>

</html>



