@(items:Seq[String],items2:Seq[String],login:String,isAdmin:Boolean)
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/fontXml.css")">

    </head>
    <body>

        <div align="center">
            <h2>Barton & Guestier</h2>

            <p></p>
            <ul class="menu" >
                <li> <a href=#>Личный кабинет </a>
                    <ul class="submenu">
                        @if(login.isEmpty) {
                            <li><a href="@routes.LoginController.renderLoginForm()">Вход</a></li>
                            <li><a href="@routes.UsersController.renderAddUserForm()">Регистрация</a></li>
                        }
                        @if(!(login.isEmpty)){
                            <li><a href="@routes.LoginController.logout()">Выход</a></li>
                        }

                    </ul>
                </li>

            </ul>
            <ul id="nav">
                @if(login.isEmpty) {

                    <li><a href="@routes.mainPageController.contactPage("",isAdmin)">Контакты </a ></li>
                    <li><a href="@routes.mainPageController.providerPage("",isAdmin)">Поставщики </a></li>
                    <li><a href="@routes.WineController.catalogPage("",isAdmin)">Каталог </a></li>
                    <li><a href="@routes.mainPageController.projectPage("",isAdmin)">О проекте </a></li>
                }
                @if(!(login.isEmpty)){

                    <li><a href="@routes.mainPageController.contactPage(login,isAdmin)">Контакты </a ></li>
                    <li><a href="@routes.mainPageController.providerPage(login,isAdmin)">Поставщики </a></li>
                    <li><a href="@routes.WineController.catalogPage(login,isAdmin)">Каталог </a></li>
                    <li><a href="@routes.mainPageController.projectPage(login,isAdmin)">О проекте </a></li>
                    @if(isAdmin){
                        <li><a href=#>Добавить поставщика </a></li>
                        <li><a href="@routes.UsersController.usersList(login)">Список пользователей </a></li>
                    }
                }


            </ul>
            <p></p>
            <p></p>
            <p></p>

                @*вывод колонки*@
            @colomn(i:Int)=@{
                val it = items
                it(i)
            }
                @*вывод строки*@
            @display(i:Int)=@{
                val it = items2
                it(i)
            }
                @*всего колонок*@
            @sizeItems()=@{
                val sizeItems = items.length
                sizeItems
            }
                @*количество страниц*@
            @pages=@{

                sizeItems2()/(sizeItems())

            }
                @*всего записываемых элементов*@
            @sizeItems2()=@{
                val sizeItems2 = items2.length
                sizeItems2

            }


            <table>

                <tr>

                @for(j <- 1 to sizeItems) {
                    <th>@colomn(j-1)</th>
                }
                </tr>
                @for(i<-1 to sizeItems2) {

                    <td>@display(i - 1)</td>
                    @if(i%(sizeItems())==0){
                        <tr></tr>
                    }
                }

            </table>
            <br>
            <p></p>
    </body>
</html>