@(form: play.data.Form[UpdateProvid],win:provider, login:String)
<html>
    <head>
        <title>
            Редактирование поставщика
        </title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
    </head>
    <body>
        <a href="@routes.ProviderController.providerPage(login,true)" class = "link">На главную страницу </a>
        <h1 class="g1">Редактирование поставщика</h1>

        @helper.form(action = routes.ProviderController.updateProviderInfo(win.getId_provider,login), 'id -> "slick-login"){

            <table>
                <tr>
                    <td> Название:  </td> <td>@helper.inputText(form("name"),'_showConstraints ->false)</td>
                </tr>
                <tr>
                    <td> Телефон:  </td> <td> @helper.inputText(form("phone"),'_showConstraints ->false)</td>
                </tr>
                <tr>
                    <td> Адрес:  </td> <td>@helper.inputText(form("address"),'_showConstraints ->false)</td>
                </tr>

            </table>


            <input type ="submit" value="Применить">
            }
    </body>
</html>