@(form: play.data.Form[UpdateWine],win:wine, login:String)
<html>
    <head>
        <title>
            Редактирование товара
        </title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
    </head>
    <body>
        <a href="@routes.WineController.catalogPage(login,true)" class = "link">На главную страницу </a>
        <h1 class="g1">Редактирование товара</h1>

        @helper.form(action = routes.WineController.updateWineInfo(win.getIdProduct,login), 'id -> "slick-login"){

            <table>
                <tr>
                    <td> Название:  </td> <td>@helper.inputText(form("name"),'_showConstraints ->false)</td>
                </tr>
                <tr>
                    <td> Цвет:  </td> <td> @helper.inputText(form("colour"),'_showConstraints ->false)</td>
                </tr>
                <tr>
                    <td> Страна:  </td> <td>@helper.inputText(form("country"),'_showConstraints ->false)</td>
                </tr>
                <tr>
                    <td> Бренд:  </td> <td>@helper.inputText(form("brand"),'_showConstraints ->false)</td>
                </tr>
                <tr>
                    <td> Срок годности:  </td> <td> @helper.inputText(form("shelf_life"),'_showConstraints ->false)</td>
                </tr>
                <tr>
                    <td> Сахар: </td> <td> @helper.inputText(form("sugar"),'_showConstraints ->false)</td>
                </tr>
                <tr>
                    <td> Сорт винограда: </td> <td>@helper.inputText(form("grape_sort"),'_showConstraints ->false)</td>
                </tr>
                <tr>
                    <td> Цена: </td> <td> @helper.inputText(form("price"),'_showConstraints ->false)</td>
                </tr>
                <tr>
                    <td> Объем: </td> <td>  @helper.inputText(form("value"),'_showConstraints ->false)</td>
                </tr>
                <tr>
                    <td> Крепость: </td> <td>  @helper.inputText(form("degree"),'_showConstraints ->false)</td>
                </tr>
            </table>


            <input type ="submit" value="Применить">
            }
    </body>
</html>